@using System.ComponentModel
<!DOCTYPE html>
<html lang="en" id="spiceshare">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/png" href="~/favicon-16x16.png" />
 @RenderSection("metahead", required: false)
<title>@ViewData["Title"] - SpiceShare</title>
	@*  This script will create a style with display: none, to hide (fallback)elements when JS is actually working in the browser. 
		The timeout will ensure that these fallbacks are visible if the async main JS is not loaded properly.
		 *@
<script>
jsfl = false;
(function () {
var c = ".dhj{display: none !important;}";
var se = document.createElement("style");
se.id = "fbs";
if (se.styleSheet) {
	se.styleSheet.cssText = c;
} else {
	se.appendChild(document.createTextNode(c));
}
document.getElementsByTagName("head")[0].appendChild(se);
})();
setTimeout(function () {
if (!jsfl) {
	var styles = document.getElementById('fbs');
	styles.parentNode.removeChild(styles);
}
}, 7500);
</script>
<environment names="Development">
	<link rel="stylesheet" href="~/css/site.css"/>
	@if (ViewData["HasForm"] != null)
		{
		<link rel="stylesheet" href="~/css/forms.css" />
	}
	<style>
@RenderSection("style", required: false)
	</style>
</environment>
<environment names="Staging,Production">
@if (ViewData["HasForm"] != null)
{<style>
.w{border:3px solid #9863a3}.i{border:3px solid #d7ffd2}form{max-width:350px;margin:0 auto}input,textarea{font-size:20px;border-top:0;border-left:0;width:100%;border-right:0;padding-left:5px}fieldset{border:0;margin:0;padding:0}.w,.i{margin-bottom:20px;display:block}legend{font-size:18px;font-weight:bold;margin-bottom:5px}fieldset>div>div,.iew{display:flex;flex-direction:column;max-width:350px;margin-bottom:0}.t{min-height:100px}.lw>span{float:right}label{padding-right:10px}
</style>
} 
<style>
html,body,ul,li,h1,.sl{box-sizing:border-box;margin:0;padding:0}body{min-height:100vh;justify-content:space-between;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif}a,li>a,li.sl>a,.lg,.act{display:inline-block}ul,body,.sc,.bg{display:table;display:flex;flex-direction:column}input,select,textarea,button{font-family:inherit}*,*:before,*:after{box-sizing:inherit}#hw,.field-validation-error{background:#edebff;padding:10px}input:focus,input:active,button:focus,button:active,a:focus,a:active,.act:focus,.act:active,li.sl a:active,li.sl a:focus{outline:2px dashed #455c42;border-color:#455c42;box-shadow:0 0 10px #455c42}footer a:active,footer a:focus,li>a:active,li>a:focus{outline:2px dashed #d7ffd2;border-color:#d7ffd2;box-shadow:0 0 10px #d7ffd2}a.lg:active,a.lg:focus{outline:0;border:0;box-shadow:none}li>a:active,li>a:focus{background:#dec8ba}.sk a{z-index:2;position:absolute;left:-3000px}.sk a:active,.sk a:focus{left:10px;background:#455c42;color:#fff}footer{min-height:100px;color:#fff;padding:10px}.sk a:active,.sk a:focus,footer,nav{background:#455c42}footer a,footer a:visited{color:#fff}p{padding:10px 0}.lg svg{height:38px;width:23px;transition:fill .5s ease;fill:#c73f17}.lg svg:hover{fill:#f0ed3c}a.lg{stroke-width:1px;stroke:#000}a.lg:active,a.lg:focus{stroke-width:8px;stroke-dasharray:8,8}caption,h2{font-size:24px;font-weight:bold;margin:5px 0}.act{padding:5px 10px;background:#ccaa94;margin:10px 5px;min-width:150px;font-size:20px;text-decoration:none;-webkit-appearance:none;border:0;text-align:center;min-height:30px}.act:hover,a:hover,li.sl>a:hover,.h{background:#d7ffd2}footer a:hover{background:#364733}.hh,.hd,.hm{display:none}.h{height:40px;display:flex}h1{text-align:center}.bh{margin-bottom:10px}a{padding:3px;color:#000}a:visited{color:#000}ul{list-style-type:none;justify-content:space-around;max-width:600px;margin:0 auto}li{display:table-cell;display:flex;margin:5px;flex:1 0 auto}li>a{padding:5px 10px;text-decoration:none;width:100%;background:#ccaa94;text-align:center}main{padding:10px}main.wf{max-width:900px}main,footer>div{margin:0 auto;max-width:500px;flex:1 1 auto}section{max-width:400px;width:100%}.sc{width:100%;align-items:center}@@media(min-width:500px){.hm{display:block}.hb,.bh{display:none}.hh{display:inline-block;width:100%;text-align:center;margin:10px 0;height:40px}ul,.bg{flex-direction:row}.bg{justify-content:center}.h{min-height:60px}.lg svg{width:36px;height:60px}}@@media(min-width:900px){.sc{flex-direction:row;justify-content:space-around;align-items:flex-start}.lg svg{width:61px;height:100px}}
@RenderSection("style", required: false)
</style>
</environment>
</head>
@{ await FlushAsync(); }
<body>
<header>
<span class="sk">
	<a href="#content">Skip to content</a>
</span>
<div class="h">
<a href="/" class="lg" title="to front page">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="100 100 380 622" aria-labelledby="title">
<title id="title">Logo. Go to front page.</title>
<g>
	<path class="chr" d="m294 169c-45 0.4-95 27-116 74 8.9 203 212 138 174 301-14.3 28.6-32 64-108.4 57.6-93.5-58-153 49-48 70 90-2 181-32.3 200-106 14-66 13-69-15-123-29-54.3-106-91-106-91 0 0-74-57.5-43-103 105-81 107-56 173 14.6l37.2 57.1C438.7 287 401 192 336 172c-13-4.1-30-3-42-3z"/>
	<path class="chg" d="m195 585-30-6.7c-19-4.4-36-27-36-27 0 0-31-69-24-31 7 39 28 84 28 66l0.1 27c0.1 18 17 30 17 30z" style="fill:#3c8e2c;"/>
</g>
</svg>
</a>
@if (!string.IsNullOrEmpty(ViewData["Title"] as string))
{
	<h1 class="hh">@ViewData["Title"]</h1>
}
</div>
<nav class="hm" aria-label="main navigation" role="navigation">
	@RenderSection("nav", required: false)
</nav>
</header>
<div id="hw" style="display: none"></div>
	@{
	var mainClass = "";
	if (ViewData["WideForm"] != null)
	{
		mainClass = "wf";
	}
	}
<main class="@mainClass" id="content">
	@if (!string.IsNullOrEmpty(ViewData["Title"] as string))
	{
<h1 class="bh">@ViewData["Title"]</h1>
	}
	@RenderBody()
</main>
	<nav class="hb" aria-label="bottom navigation">
	@RenderSection("bottomnav", false)
	</nav>
<footer style="min-height: 110px;">
<div>
    <div style="min-height: 60px;" id="resetinfo"></div>
    <span id="privlinkph"></span>
</div>
</footer>
</body>
</html>
